* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.anh{
  height: 500px;
}
.xetanh{
  height: 500px;
  background-color: aqua;
}
.conten{
  margin-bottom: 70px;
  margin-right: 500px;
  display: flex;
    flex-direction: column;
  width: 700px;
}
.conten h5{
color: black;
margin-right: 350px;
}
.conten p {
  color: black;
  font-size: 60px;
  margin-right: 200px;

}
.conten .new{
  color: black;
  font-size: 60px;
  margin-right: 360px;

}
.conten button{
margin-left: 10px;
  width: 150px;
  border: none;
  background-color: red;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.btn-primary{
  --bs-btn-hover-bg:none;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.ms-auto{
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.ms-auto button{
  background-color: rgb(33, 37, 41);
  border: none;
}
.ms-auto ul{
  width: 50px;
}
.dropdown-menu{
  margin-top: 8px ;
  border-radius: none!important;
}

.bg-body-tertiary {
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1) !important;
}
.banner{
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.anhbanner{
  width: 450px;
  height: 400px;
  background-color: aqua;
  position: relative;
}
.banner span{
  position: absolute !important;
  left: 230px;
  top: 200px;
  transform: translate(-50%, -50%);
padding: 20px;
  background-color:rgb(254, 254, 254);
  height: 60px;
  text-align: center;
  align-items: center;
  line-height: 20px;
  font-size: 30px;
  font-weight: 500;
}
.anhbanner img{
  width: 450px;
  height: 400px;
  
}
.trungfooterBanner{
  display: flex;
  background-color:rgb(218, 220, 224);
  width: 24%;
  padding: 20px;
  height: 100px;
}
.trungfooterBanner span{
  width: 50px;
  margin-right: 20px
}
.trungfooterBanner span i{
  font-size: 30px;
  line-height: 15px;
  padding: 10px;
  color: red;
  margin-bottom: 50px;
}
.footerBanner{
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 1px;
}
.timeele{
  background-color:rgb(242, 242, 242);
  width: 95%;
  margin: auto;
  display: flex;
}
.timeele img{
  margin-left: 150px;
  flex: 0.6;
}
.timeall{
  display:flex;
  width: 100%;
  gap: 10px;
}
.timeall .so{
  font-size: 50px;
  color: red;
  font-weight: 500;
  margin-top: 20px;
 
}
.timeall .chu{
font-size: 15px;
margin-bottom: 20px;
}
.timeall .divv{
  border: 1px solid black;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  line-height: 20px;
}
.timeall .divv .bao{
  width: 50px;
  margin-left: 18px;
  margin-top: 20px;
}
.timeright{
  flex: 1 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline{
  height: 300px;
  width: 400px;
  text-align: center;
    flex-direction: column;
}
.footertren{
  display: flex;
  justify-content: space-between;
  padding: 60px;

}
.footerduoi{
  text-align: center;
  margin-bottom: 70px;
}
.footertrentrai{
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.footertrenphai {
  display: flex;
  justify-content: space-between;
  width: 200px;
}